@model Hologram.Models.AdminListViewModel

@{
    ViewBag.Title = "AdminInfo";
}

<!Doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=divice-width, initial-scale=1.0" />
</head>
<body>

    <h2>AdminInfo</h2>

    <div class="container">
        <nav class="admin_menu">
            <ul>
                <li>디바이스</li>
                <li>사용자 컨텐츠</li>
                <li>컨텐츠 포털</li>
                <li>사용자</li>
                <li>결제</li>
            </ul>
            <a href="">공통 코드</a>
            <a href="">언어 설정</a>
        </nav>
    </div>

    <div class="admin_section">
        <section class="admin_info">
            <h2>관리자 정보</h2>
            @using (Html.BeginForm("AdminInfo", "AdminInfoCMS", FormMethod.Post))
            {
                <p><strong>계정</strong>@Model.Id</p>
                <p><strong>비밀번호</strong>(hidden)</p>
                <p><strong>이름</strong>@Model.Name</p>
                <p><strong>모바일</strong>@Model.Mobile</p>
                <p><strong>이메일</strong>@Model.Email</p>
                <p><strong>부서</strong>@Model.Dept</p>
                <p><strong>직책</strong>@Model.Job_Title</p>
            }
        </section>

        <section class="admin_list">
            <h2>관리자 목록</h2>
            <table>
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>아이디</th>
                        <th>이름</th>
                        <th>모바일</th>
                        <th>이메일</th>
                        <th>메모</th>
                        <th>등록일</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int count = 1;
                        foreach (var admin in Model.AdminList)
                        {
                            <tr>
                                <td>@count</td>
                                <td>@admin.Id</td>
                                <td>@admin.Name</td>
                                <td>@admin.Mobile</td>
                                <td>@admin.Email</td>
                                <td>@admin.Memo</td>
                                <td>@admin.Reg_Date</td>
                            </tr>
                            count++;
                        }
                    }
                </tbody>
            </table>
        </section>
    </div>

</body>
</html>