@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div>
    <button onclick="location.href='@Url.Action("AdminInfo", "AdminCMS")'">관리자 정보</button>
    <button onclick="location.href='@Url.Action("Logout", "AdminCMS")'">로그아웃</button>
    <button onclick="location.href='@Url.Action("Devices", "AdminCMS")'">디바이스</button>
    <button onclick="location.href='@Url.Action("Content", "AdminCMS")'">사용자 컨텐츠</button>
    <button onclick="location.href='@Url.Action("ContentPortal", "AdminCMS")'">컨텐츠 포털</button>
    <button onclick="location.href='@Url.Action("User", "AdminCMS")'">사용자</button>
    <button onclick="location.href='@Url.Action("Payments", "AdminCMS")'">결제</button>
    <button onclick="location.href='@Url.Action("CommonCodes", "AdminCMS")'">공통 코드</button>
    <button onclick="location.href='@Url.Action("LanguageSettings", "AdminCMS")'">언어 설정</button>
</div>
